<h1>{{pageName}}</h1>
<p>This is the first page in the site.</p>

<button (click)="onButtonClick()">Greet me</button>

<p>There are {{books.length}} books in the database. {{numberOfBooksWrittenByMatt}} were written by Matt </p>

<p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet fermentum odio, vel varius enim facilisis
  et. Aliquam volutpat, arcu a tincidunt tempus, leo lorem lobortis neque, nec sollicitudin enim velit vel sem.
  Ut consectetur malesuada justo sit amet volutpat. Mauris quam massa, varius vel nulla vitae, accumsan dignissim nisl</p>
